body {
    background-image: url(../images/creepy.jpg);
    background-repeat: no-repeat;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 15px;
    text-align: center;
}

#section {
    height: 300px;
    width: 400px;
    color: #eaeaea;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 15px;
    padding-top: 15px;
}

#box1,
#box2 {
    padding-top: 15px;
    width: auto;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
    line-height: 1.0;
    word-spacing: 2px;
    background-color: #eaeaea;
    box-shadow: 3px 2px #000;
}

#box1 {
    height: 150px;
}

#box2 {
    height: 70px;
}

#footer {
    margin: auto;
    height: 50px;
    width: auto;
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 10px;
    color: #fff;
    background-color: #000;
}

#box2 {
    height: 70px;
}


img {
    width: 400px;
    height: 500px;
    padding: 70px;
}

.letter {
    width: 30px;
    height: 30px;
    border-style: solid;
    padding: 2px;
    float: left;
    margin: 2px;
}

.letter-button-color {
    color: darkcyan;
}

#display {
    margin-top: 78px;
    height: 500px;
    width: 220px;
    margin-left: 60px;
}

#buttons {
    padding-top: 60px;
}

